.client-area {
    display: none;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    padding: 30px;

    &__form {
        display: flex;
    }

    &__input {
        flex: 1;
    }

    &--is-visible {
        display: flex;
        visibility: visible;
        opacity: 100;

    }
}