.primary-nav {
    &__pull-right {
        float: right;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        float: left;
        padding-right: 20px;
    }

    &__color-white {
        color: white;
        font-weight: 300;
    }

    &__v-center {
        display: block;
        padding: 12px 0;
    }
}